.main-section {
  background-color: whitesmoke;

  /* background-color: red; */
  padding-top: 30px;
  padding-bottom: 60px;
}
.lid {
  color: #1877f2;
  font-size: 13px;
  font-weight: 500px;
  padding-top: 20px;
}
p {
  font-size: 16px;
}

.card1 {
  padding: 0px 30px 0px 15px;

  line-height: 1.5;
  box-shadow: 4px 5px 9px 0px #e1dfdf;
}
.hh {
  background-color: white;
}
.img-sec img {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 25px;
}
.name {
  color: #5c2e91;
  font-size: 20px;
  line-height: 24px;
  margin: 0 0 8px;
  font-weight: 600px;
  font-family: sans-serif;
}
.icons i {
  color: red;
  font-size: 18px;
  margin-left: 10px;
  display: inline-block;
  border: solid 1px;
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 50%;
  line-height: 40px;
}
.pstyle {
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}
.header-sec {
  display: flex;
  margin-top: 15px;
}
.contentname {
  font-size: 20px;
  color: #5c2e91;
  font-weight: 500;
}
